* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}

/* effects section */
/* esercizio 1 */
.ex-1-square{
    transition: background-color 2s ease 0s;
}
.ex-1-square:hover{
    background-color: red;
}
/* esercizio 2 */
.ex-2-square{
    transition: width 2s ease, height 2s ease;
}
.ex-2-square:active{
    width: 300px;
    height: 300px;
}
/* esercizio 3 */
.ex-3-square{
    transition: border-radius 2s ease 0s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square{
    transition: opacity 2s ease 0s;
}
.ex-4-square:hover{
    opacity: 0%;
}
/* esercizio 5 */
.ex-5-square{
    transition: width 2s ease 0s, height 2s ease 0s;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 10px;
    height: 10px;
}
/* esercizio 6 */
.ex-6-img{
    transition: filter 2s ease 0s;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* esercizio 7 (l'ho accidentalmente già fatto nel 6)*/
.ex-7-img{
    transition: filter 2s ease 0s;
}
.ex-7-img:hover{
    filter: grayscale(100%);
}
/* esercizio 8 */
.ex-8-img{
    transition: filter 2s ease 0s, border-radius 4s ease 0s;
}
.ex-8-img:hover{
    filter: grayscale(100%);
    border-radius: 10%;
}
/* esercizio 9 */
.ex-9-img{
    transition: filter 2s ease 0s, border-radius 4s ease 0s, transform 4s ease 0s;
}
.ex-9-img:hover{
    filter: grayscale(100%);
    border-radius: 10%;
    transform: scale(1.5);
}
/* esercizio 10 */